body {
    font-family: 'Lato';
    margin: 0;
}

section {
    padding: 0 13vw;
}

section h2 {
    padding-top: 10vh;
    font-size: 2.7rem;
    line-height: 4rem;
}

section p {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

/* .........................................my-name */

header {
    height: 12vh;
    width: 100%;
    background-color: black;
}
.my-name {
    margin: 0;
    padding: 1vh 0 2.5vh 13vw;
    /* padding-left: 13vw;
    padding-bottom: 2.5vh; */
    color: white;
    border: none;
    background-color: black;
    font-size: 1.3rem;
    position: sticky;
    top: 0;
}

/* .........................................my-title */

.my-title {
    font-size: 4.5rem;
    padding: 8vh 13vw 5vh;
}

/* .........................................my-photo */

.my-photo {
    background-image: url(../images/20190608_183226832_iOS.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 90vh;
    display: block;
}

/* .........................................content */

.content {
    background-color: black;
    font-size: 2rem;
}

.content ul {
    margin: 0;
    padding: 18vh 0 10vh;
}

.content li {
    margin: 1.3vh 0;
}

.content a {
    text-decoration: none;
    color: white;
}

.content a:hover {
    text-decoration: underline;
}

/* ........................................ content-sections */

.content-section {
    text-align: right;
}
